.App {
  text-align: center;
}

body {
  font-family: Nunito;
  font-size: 2.4rem;
  margin: 0;
  height: 100%;
}

@font-face {
  font-family: Nunito;
  src: url('fonts/Nunito/Nunito-Regular.otf');
  font-weight: 500;
}

@font-face {
  font-family: Nunito;
  src: url('fonts/Nunito/Nunito-Black.otf');
  font-weight: 900;
}

@font-face {
  font-family: Nunito;
  src: url('fonts/Nunito/Nunito-Medium.otf');
  font-weight: bold;
}