.requestsContaioner {
    display: flex;
    /* justify-content: stretch; */
}

.requests {
    width: 50%;
    display: flex;
}

.popupGymButton {
    border: none;
    background-color: white;
    font-family: Nunito;
    margin: 0.5rem 0rem;
    font-size: 1.2rem;
    font-weight: bold;
    transition: linear 100ms;
    padding: 0 0.5rem;
    border-radius: 1rem;
}

.request {
    font-family: Nunito;
    margin: 0.5rem 0rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.list {
    list-style: none;
}

.popupGymButton:hover {
    background-color: aliceblue;
}